.listContainer {
  flex: 2;
  position: relative;
  border: 1px black solid;
  margin-right: 5px;
}

.jobDetails {
  flex: 4;
  display: grid;
  border: 1px black solid;
  margin-left: 5px;
}

.jobPagecontainer {
  display: flex;
  margin: 0 20px;
}
