.listContainer {
  flex: 2;
  position: relative;
  border: 1px black solid;
  margin-right: 5px;
}

.jobDetailsContainer {
  flex: 4;
  display: grid;
  border: 1px black solid;
  margin-left: 5px;
  background-color: lawngreen;
}

.jobPagecontainer {
  display: flex;
  margin: 0 20px;
}

.jobDetails {
  position: relative;
  padding: 10px;
}
