/* ______________________________ */

.jobcart {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 10px auto;
  display: grid;
  grid-gap: 3px;
  padding: 3px;
  border: 1px solid #e77b7b;
}
.header {
  text-transform: capitalize;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: 1px black solid;
}

.info {
  display: flex;
  flex: 3;
}
.offerInfo {
  flex: 2;
  display: grid;
  align-items: center;
  margin-left: 5px;
}
.companyImg {
  padding: 2px;
}
.companyImg img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.jobPostion {
  display: block;
  font-size: 16px;
  font-weight: 900;
}
.companyName {
  display: inline-block;
  font-size: 14px;
  margin-top: 0p;
}

.match {
  flex: 1;
  display: grid;
  align-items: center;
  justify-content: right;
  margin: 0 3px;
}

.apply {
  flex: 1;
  display: grid;
  align-items: center;
  justify-content: center;
}

.footer {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid;
  height: auto;
}
.footer > span {
  font-family: "Baloo Thambi 2", cursive;
  font-size: 15px;
  position: relative;
  display: inline-block;
  border: 1px solid black;
  margin: 1px 3px;
  padding: 1px;
  border-radius: 3px;
  height: 25px;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  /* margin: 20% 22%; */
  background-color: transparent;
  transition: 0.3s all;
  align-items: center;
  justify-content: center;
  display: grid;
}
.element {
  background-color: transparent;
}

.jobcart:hover .back {
  opacity: 1;
  background-color: transparent;
  font-weight: bolder;
  font-size: larger;
  cursor: pointer;
  z-index: 1;
}
.jobcart:hover .header {
  opacity: 1;
  filter: blur(4px);
  z-index: 0;
}
